body {
    background: linear-gradient(135deg, #ff9900, #ff4d4d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}
