body {
    background: #f7f9fc;
}

.banner-img { 
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border-top-left-radius: 0.75rem; 
    border-top-right-radius: 0.75rem; 
}

.card-promocao {
    border-radius: 0.75rem;
    transition: 0.3s;
}

.card-promocao:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); 
}

.card-header {
    border-radius: 0.75rem 0.75rem 0 0 !important;
}
